/* Import CSS Frameworks */
@import 'normalize.css';
@import 'skeleton.css';
@import 'animations.css';
@import 'c3.css';

/* Color Variables */
$find_me_in_the_moon: #D6F4A2;
$shut_up_im_dreaming: #E3E7D9;
$light_wood_plank: #D8D9D4;
$phantom_embrace: #C3C8C3;
$oregon_light_silver: #CCDAD1;


$dream_in_color: #1B676B;
$dream_in_green: #519548;
$dream_in_lime: #88C425;
$dream_in_grellow: #BEF202;
$dream_base: #EAFDE6;

$green_top: #D6F59E;
$green_bottom: #C7F377;
$gray_top: #DFE0DC;
$gray_bottom: #CED2CE;

$light_text: #F4FDF2;
$dark_text: #083D3F;

$light_blue: #A9EDFF;
$blue_gray: lighten(#4AB1CC, 15%);
$sky_blue: lighten(#5DDDFF, 5%);
$superlight_blue: lighten($light_blue, 10%);

/* Property Variables */
$bg-color: $dream_base;
$dev-height: 400px;
$seo-height: 400px;
$data-height: 400px;
$header-h1: 4.5rem;
$header-p: 2.0rem;
$section-h2: 4.2rem;
$section-h3: 3.5rem;
$section-p: 1.8rem;
$mobile-h1: 3.0rem;
$mobile-header-p: 1.5rem;
$tablet-header-h1: 4.0rem;
$tablet-header-p: 1.8rem;

/* Badge Colors */
$b1: #C103FF;
$b2: #4110FF;
$b3: #7103E8;
$b4: #0311E8;
$b5: #0355FF;

.edit {
  color: firebrick;
}

body {
    background-color: $bg-color;
}

/* --------------------------------------------------- */
/* Buttons and Links */
/* --------------------------------------------------- */
a {
  color: $dream_in_color; 
}
a:hover {
  color: $dream_in_color; 
}

.inline-block {
    display: inline-block;
}
.block {
    display: block;  
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $dream_in_color;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid lighten($dream_in_color, 10%);
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: darken($dream_in_color, 10%);
  border-color: $dream_in_color;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: $light_text;
  background-color: $dream_in_color;
  border-color: darken($dream_in_color, 10%); 
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: $light_text;
  background-color: lighten($dream_in_color, 10%);
  border-color: lighten($dream_in_color, 10%); 
}

.button-dark,
button-resume,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $dream_base;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $dream_base;
  cursor: pointer;
  box-sizing: border-box;
}
.button-dark:hover,
button-resume:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button-dark:focus,
button-resume:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: lighten($dream_base, 10%);
  border-color: lighten($dream_base, 10%);
  outline: 0;
}

/* --------------------------------------------------- */
/* Form & Range Slider Input Styles */
/* --------------------------------------------------- */

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $dream_in_color;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 80%;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff; 
}
input[type="range"]:focus {
	-webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;


	border-radius: 10px;
	cursor: pointer;
    outline: none;
}
// Webkit Styles
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: url(../img/hexagon.png);
//    margin-top: 0px;
}

.ng-invalid.ng-touched, .ng-invalid.ng-dirty {
    border-color: firebrick;    
}

.ng-valid.ng-touched, .ng-valid.ng-dirty {
    border-color: forestgreen;
}

#form-messages {
    margin-bottom: 15px;
}

.error {
    background-color: #f8d6d7;
    border-radius: 10px;
    border: 2px solid darkred;
    
    margin-bottom: 5px;
    padding: 8px 15px;
    
    color: darkred;
    font-size: 16px;
    line-height: 25px;
}

.success {
    background-color: #CBF7CB;
    border-radius: 10px;
    border: 2px solid darkgreen;
    
    margin-bottom: 5px;
    padding: 8px 15px;
    
    color: darkgreen;
    font-size: 16px;
    line-height: 25px;
}

/* --------------------------------------------------- */
/* Navigation */
/* --------------------------------------------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 9999; // Rediculous z index to ensure element remains top layer
    background-color: $superlight_blue;
}

nav select {
    display: none;
}

.nav-list {
    width: 100%;
    text-align: center;
    margin-top: 14px;
}

.nav-item {
    display: inline;
    margin-right: 5%;
}

nav ul li a {
    color: black;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: lighter;
    text-decoration: none;
}



/* --------------------------------------------------- */
/* Section Syles */
/* --------------------------------------------------- */
section {
    width: 100%;
    padding: 60px 0px;
    color: $dark_text;
    overflow: hidden;
    position: relative;
    p { font-size: $section-p; }
}

header {
    margin-top: 50px; // Navigation Fix
    height: 518px;
    background-color: $superlight_blue;
    text-align: center;
    position: relative;
    h1 { 
        font-size: $header-h1;
        padding-top: 15%;
        color: $dark_text;
    }
    p {
        font-size: $header-p;
        color: $dark_text;
    }
}

.signature {
    margin-top: -25px;
    width: 130px;
}

#portfolio-spearhead {
  background-color: $light_blue;
}

#portfolio-jade2html {
  background-color: $blue_gray;
}

#portfolio-goodwifi {
  background-color: darken($sky_blue, 5%);
}

#portfolio-portfolio {
  background-color: $sky_blue;
}

#cta {
    background-color: $dream_in_color;
    text-align: center;
    padding: 80px 0px;
    color: $light_text;
    a { margin-right: 5px; }
}

#development {
    background-color: $green_top;
    z-index: 1;
}

#development-icons {
    background-color: $green_bottom;
    padding-bottom: 20px;
}

#seo {
    background: 
        url(../img/seo-map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
}
#seo .container {
    background: url(../img/seo-map-pin-1.png),
        url(../img/seo-map-pin-2.png),
        url(../img/seo-map-pin-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

#seo-icons {
    background-color: $gray_bottom;
    padding-bottom: 20px;
}

#data {
    background-color: $green_top;
    position: relative;
    z-index: 1;
    
    .ten.columns {
        padding-bottom: 75px;
    }
}
#data-icons {
    background-color: $green_bottom;
    padding-bottom: 20px;
}

#skills {
    background-color: $gray_top;
    padding-bottom: 0px;
}

#skills-details {
    background-color: $gray_bottom;
    padding-top: 10px;
    
    h3 { font-size: 3rem; }
    
    #detail-list {
        float: left;
        li { list-style: none; }
    }
    #detail-stars {
       margin-left: 400px;
        li { list-style: none; }
    }
}

#about {
    background-color: $dream_in_color;
    color: $light_text;
    h3 { 
      font-size: $section-h3; 
    }
    a { 
      color: #FEE55B;
      text-decoration: none;
    }
}

#resume {
    background-color: lighten($dream_in_color, 7%);
    color: $light_text;
    text-align: center;
}

#contact {
    background-color: $dream_base;
}


/* --------------------------------------------------- */
/* Portfolio Projects Styles */
/* --------------------------------------------------- */
#portfolio {
    background-color: $gray_top;
    margin-top: -40px;
    padding: 0px 0px 0px 0px;
    position: relative;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 7%, 75% 0, 50% 7%, 25% 0, 0 7%);
    clip-path: polygon(0 100%, 100% 100%, 100% 7%, 75% 0, 50% 7%, 25% 0, 0 7%);
    ul, li {
        margin: 0;
    }
    li {
        display: inline-block;
        list-style: none;
    }
    line-height: 0; // Fix unwanted bottom margin from inline block li's
}

.portfolio-thumb {
    width: 25%;
//    float: left;
    img {
        width: 100%;
    }
    img:hover {
        opacity: 0.6;
        filter: alpha(opacity=60); // IE Support
    }
}

.project-detail {
    display: none;
    position: absolute; // Relatively positioned to #portfolio for desktop, and to the portfolio-thumb list item for mobile
    left: 10%;
    
    h2 {
        margin-top: 40px;
        color: $dark_text;
        font-size: 3.2rem;
        line-height: 1.25;
    }
    p {
        position: relative;
        color: $dark_text;
        line-height: 1.6;
        font-size: 1.5rem;
    }
}

.project-detail-visible {
    padding-bottom: 400px;
}

.project-detail-img {
    margin-top: 40px;
}

/* --------------------------------------------------- */
/* Logo Icon Styles */
/* --------------------------------------------------- */

.dev-logo, .seo-logo {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    width: 14%;
    img {
        width: 100%;
    }
}

.data-logo {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    width: 17%;
    img {
        width: 100%;
    }
}


/* --------------------------------------------------- */
/* Animated Section Backgrounds */
/* --------------------------------------------------- */

.binary {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    font-family: Courier;
    font-size: 2.0rem;
    color: #cfeb9d;
    position: absolute;

    top: 0;
    z-index: -1;
    
    width: 3000px;
    display: block;
    white-space: nowrap;
}

.data-graph {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url(../img/line-graph.png) no-repeat bottom;
    z-index: -1;
}

/* --------------------------------------------------- */
/* Styles for D3 Chart */
/* --------------------------------------------------- */
#skills-chart {
    width: 85%;
}
.domain {
    fill: none;
    stroke: $dark_text;
    stroke-width: 1;
}
.tick {
    stroke: $dark_text;
    stroke-width: 1;
}

/* --------------------------------------------------- */
/* Styles for About Section */
/* --------------------------------------------------- */
.portrait {
    width: 50%;
    border-radius: 100%;
}
.social-icon:hover {
    opacity: 0.8;
}


/* --------------------------------------------------- */
/* Badges */
/* --------------------------------------------------- */
@mixin badge($color) {
  display: inline-block;
  background-color: $color;
  color: white;
  border-radius: 3px;
  padding: 8px 15px;
  text-shadow: 1px #333;
  margin: 0px 0px 20px 0px;
}

.badge-blue1 {
  @include badge(darken($b1, 5%));
}

.badge-blue2 {
  @include badge(darken($b2, 5%));
}

.badge-blue3 {
  @include badge(darken($b3, 5%));
}

.badge-green1 {
  @include badge(darken($b4, 5%));
}

.badge-green2 {
  @include badge(darken($b5, 5%));
}


.portfolio-lg {
  width: 100%;
}

.portfolio-sm {
  width: 100%;
}

.portfolio-link {
  font-size: 1.8rem;
  margin-bottom: 22px;
}


[id*='portfolio-'] h2 {
  font-size: 3.6rem;
}

[id*='portfolio-'] h3 {
  font-size: 2.4rem;
}

[id*='portfolio-'] .bold {
  font-weight: bold;
  margin-top: 22px;
}

.github-link {
  font-size: 18px;
  
}

.gw-screenshots {
  margin-bottom: 30px;
}
/* --------------------------------------------------- */
/* Media Queries */
/* --------------------------------------------------- */

/* -- Max Width Media Query for Mobile -- */
@media (max-width: 550px) {
    
    nav select {
        display: block;
        margin: 5px auto;
    }
    nav ul {
        display: none;
    }
    
    header {
        h1 { font-size: $mobile-h1; }
        p { font-size: $mobile-header-p; }
    }
    
    #portfolio {
        -webkit-clip-path: none;
        clip-path: none;
    }
    .portfolio-thumb {
        width: 100%;
        position: relative; // Changes absolute position of Project Detail
    }
    .project-detail-img {
        display: none;
    }
    
    #skills-chart {
        width: 100%;
    }
    
    .dev-logo, .seo-logo, .data-logo {
        width: 40%;
    }
    .data-graph {
        background: url(../img/line-graph-mobile.png) no-repeat bottom;
    }
} // End Media Query for Mobile


/* Min Width Media Query for Tablet */
@media (min-width: 551px) and (max-width: 900px) {
    header {
        h1 { font-size: $tablet-header-h1; }
        p { font-size: $tablet-header-p; }
    }
    
    #portfolio {
        -webkit-clip-path: none;
        clip-path: none;
    }
    
    #skills-chart {
        width: 100%;
    }
    
    .dev-logo, .seo-logo {
        width: 20%;
    }
    .data-logo {
        width: 21%;
    }
} // End Media Query for Tablet


/* Min Width Media Query for Desktop */
@media (min-width: 901px)  {
    .dev-logo, .seo-logo {
        width: 14%;
    }
    .data-logo {
        width: 17%;
    }
    .error {
        width: 50%;
    }
} // End Media Query for Desktop