$find_me_in_the_moon: #D6F4A2;
$shut_up_im_dreaming: #E3E7D9;
$light_wood_plank: #D8D9D4;
$phantom_embrace: #C3C8C3;
$oregon_light_silver: #CCDAD1;

$dream_in_color: #1B676B;
$dream_in_green: #519548;
$dream_in_lime: #88C425;
$dream_in_grellow: #BEF202;
$dream_base: #EAFDE6;

$green_top: #D6F59E;
$green_bottom: #C7F377;
$gray_top: #DFE0DC;
$gray_bottom: #CED2CE;

$light_text: #F4FDF2;
$dark_text: #083D3F;

$light_blue: #A9EDFF;
$blue_gray: lighten(#4AB1CC, 15%);
$sky_blue: lighten(#5DDDFF, 5%);
$superlight_blue: lighten($light_blue, 10%);

// Property Variables
$bg-color: $dream_base;
$dev-height: 400px;
$seo-height: 400px;
$data-height: 400px;
$header-h1: 4.5rem;
$header-p: 2.0rem;
$section-h2: 4.2rem;
$section-h3: 3.5rem;
$section-p: 1.8rem;
$mobile-h1: 3.0rem;
$mobile-header-p: 1.5rem;
$tablet-header-h1: 4.0rem;
$tablet-header-p: 1.8rem;

// Badge Colors
$b1: #C103FF;
$b2: #4110FF;
$b3: #7103E8;
$b4: #0311E8;
$b5: #0355FF;