$dev-height: 400px;
$seo-height: 400px;
$data-height: 400px;
$header-h1: 4.5rem;
$header-p: 2.0rem;
$section-h2: 4.2rem;
$section-h3: 3.5rem;
$section-p: 1.8rem;
$mobile-h1: 3.0rem;
$mobile-header-p: 1.5rem;
$tablet-header-h1: 4.0rem;
$tablet-header-p: 1.8rem;