//////////////////////////////////
// Experience: Development
//////////////////////////////////

.binary {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-family: Courier;
  font-size: 2.0rem;
  color: #cfeb9d;
  position: absolute;

  top: 0;
  z-index: -1;

  width: 3000px;
  display: block;
  white-space: nowrap;
}



//////////////////////////////////
// Experience: Data
//////////////////////////////////

#development {
  background-color: $green_top;
  z-index: 1;
}

#development-icons {
  background-color: $green_bottom;
  padding-bottom: 20px;
}

#seo {
  background: url(../img/seo-map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
#seo .container {
  background: 
      url(../img/seo-map-pin-1.png),
      url(../img/seo-map-pin-2.png),
      url(../img/seo-map-pin-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

#seo-icons {
  background-color: $gray_bottom;
  padding-bottom: 20px;
}

#data {
  background-color: $green_top;
  position: relative;
  z-index: 1;

  .ten.columns {
    padding-bottom: 75px;
  }
}

#data-icons {
  background-color: $green_bottom;
  padding-bottom: 20px;
}


.data-graph {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: url(../img/line-graph.png) no-repeat bottom;
  z-index: -1;
}

.dev-logo, .seo-logo {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  width: 14%;
  
  img {
    width: 100%;
  }
}

.data-logo {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  width: 17%;

  img {
    width: 100%;
  }
}