#skills {
  background-color: $gray_top;
  padding-bottom: 0px;
}

#skills-details {
  background-color: $gray_bottom;
  padding-top: 10px;

  h3 { 
    font-size: 3rem; 
  }

  #detail-list {
    float: left;
    li { 
      list-style: none; 
    }
  }
  
  #detail-stars {
    margin-left: 400px;
    li { 
      list-style: none; 
    }
  }
}

#skills-chart {
  width: 85%;
}

.domain {
  fill: none;
  stroke: $dark_text;
  stroke-width: 1;
}

.tick {
  stroke: $dark_text;
  stroke-width: 1;
}